<% is_embedded ||= false %>
<div class='article'>
  <h1>
    <% if is_embedded %>
      <a class='permalink' href='<%= route_path(item) %>' title='Full article'><%= item[:title] %></a>
    <% else %>
      <%= item[:title] %>
    <% end %>
  </h1>
  <%= render('_meta', :item => item) %>
  <div class='body'>
    <%= content || partial(item) %>
  </div>
</div>
