<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= @item[:title] %> - <%= @config[:site_name] %></title>
  <meta name="description" content="<%= item_excerpt(content) %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/additional.css">
  <meta name="generator" content="nanoc <%= Nanoc.version_information %>/Ruby <%= ::VERSION %>">
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="<%= @config[:base_url] %>/atom.xml">

  <%= render('_head_extra') %>
</head>
<body>
  <div id="page">

    <!-- Header -->
    <header id="branding">
      <hgroup>
        <h1 id="site-title"><a href="/"><%= @config[:site_name] %></a></h1>
        <h2 id="site-description"><%= @config[:site_description] %></h2>
      </hgroup>

      <!-- BannerAd -->
      <div id="google-banner">
        <%= render('_banner_ad') %>
      </div>

      <!-- Navigation -->
      <nav id="access">
        <h3 class="assistive-text">Breadcrumbs</h3>
        <div class="menu">
          <ul>
            <li><%= pankuzu.join('</li><li>') %></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="main">
      <div id="primary">
        <div id="content">
          <% if @item[:kind] == 'article' %>
            <%= render('_article', :item => @item, :content => content) %>
            <% if disqus_shortname && !is_front_page? %>
              <div id="comments">
                <%= render('_disqus', :item => @item) %>
              </div><!-- #content -->
            <% end %>
          <% else %>
            <%= content %>
          <% end %>
        </div><!-- #content -->
      </div><!-- #primary -->

      <div id="secondary">
        <%= render('_sidebar', :item => @item) %>
      </div><!-- #secondary -->

      <br class="clear">
    </div><!-- #main -->

    <!-- footer -->
    <footer id="colophon">
      <%= render('_footer') %>
    </footer><!-- #colophon -->
  </div><!-- /#page -->
</body>
</html>
